body {
  height: 100vh;
  background-image: url("../images/DarkHorse.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-size: 20px;
}
/* 

.display {
  color: white;
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
}

.display_show_name {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.display_show_poster {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.display_show_actors {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.display_show_plot {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.display_show_streams {
  border: 1px solid;
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */

.main {
  display: grid;
  grid-template-rows: 5% 10% 80%;
  grid-template-columns: 15% 70% 15%;
  grid-template-areas:
    ". . ."
    ". buttons nav"
    ". display .";
}

.nav {
  grid-area: nav;
  /* justify-self: left; */
}

.button_row {
  grid-area: buttons;
}

.display {
  grid-area: display;
  display: grid;
  grid-template-rows: 10% 10% 30% 25%;
  grid-template-columns: 35% 65%;
  grid-template-areas:
    "name ."
    "poster actors"
    ". plot"
    ". streams";

  /* "display_show_name display_show_poster ."
  "display_show_actors display_show_plot display_show_streams"; */
}

.display_show_name {
  grid-area: name;
  font-size: 50px;
  color: white;
  padding-bottom: 50px;
}
.display_show_actors {
  grid-area: actors;
  color: white;
}
.display_show_poster {
  grid-area: poster;
}
.display_show_plot {
  grid-area: plot;
}

.display_show_streams {
  grid-area: streams;
}
