.nav-wrapper { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background-color: black; 
}

#roulette {
    padding: 50px; 
}

#search {
    padding: 50px; 
    
}

#youtube {
    padding: 50px; 
    background-color: green; 
}

#localapi {
    padding: 50px; 
    background-color: purple; 
}

/* .container {
    height: 100vh; 
} */
/* .slider {
    width: auto; 
    height: 10000px !important;
    margin: 0 auto;
    opacity
  }

  .slider .indicators {
    bottom: 60px;
    z-index: 100;
   
  } */



