.nav-wrapper {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
}
.movie-container {
  border-bottom: 2px dashed black;
  padding: 15px;
}
.movie-display {
  display: grid;
  grid-auto-rows: min-content min-content min-content;
  grid-auto-columns: 300px auto;
  grid-gap: 2em;
  /* grid-template-areas:
  ". movie-poster . ."
  ". . movie-info ."
  ". . plot-info ."; */
}
.movie-display img {
  width: 300px;
  border: solid;
}

.movie-poster {
  grid-area: movie-poster;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  /* grid-auto-rows: min-content; */
}
.movie-info {
  grid-area: movie-info;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-auto-rows: min-content;
}
.plot-info {
  grid-area: plot-info;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-auto-rows: min-content;
  padding-bottom: 50px;
}
.where-to-watch {
  text-align: center;
}
.where-to-watch a {
  padding: 20px;
}
.container {
  float: center;
}